<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko"  xml:lang="ko">
<head>
<title>사부작사부작</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>로그인</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<style type="text/css">
table td{border-bottom: 1px dotted #a7a7a7;}
table th{text-align:center;}
table {width: 100%;border: none;border-collapse: separate; border-spacing: 0;}
</style>

</head>
<body>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
			Copyright 2017
	</div>
</body>
</html>